[Desktop Entry]
Version=1.02
Encoding=UTF-8
Name=Admin of Shared
Name[vi]=Admin của Shared
Name[uk]=Адміністратор Загальні
Name[tl]=Admin ng Naibahaging
Name[sv]=Admin delat
Name[sl]=Admin of Shared
Name[sk]=Admin zdieľaných
Name[ru]=Администратор Общие
Name[ro]=Admin de la comun
Name[pt]=Admin of Shared
Name[pl]=Administrator udostępnionych
Name[no]=Admin av Delt
Name[nl]=Admin van Shared
Name[lv]=Admin dalītas
Name[lt]=Administrator Bendri
Name[ja]=管理共有の
Name[iw]=מנהלה של שיתופיים
Name[it]=Admin di Shared
Name[id]=Admin Bersama
Name[hr]=Admin zajedničkih
Name[hi]=साझा का व्यवस्थापक
Name[fr]=Administrateur de Shared
Name[fi]=Admin Jaetut
Name[es]=Administrador de compartidas
Name[en]=Admin of Shared
Name[el]=Διαχειριστής του Shared
Name[de]=Administrator der Shared
Name[da]=Admin Delt
Name[cs]=Admin sdílených
Name[ca]=Administrador d'compartides
Name[bg]=Администратор на общо
Name[ar]=الادارة المشتركة ل
GenericName=smb-admin
Comment=Manage your Samba configurations
Comment[vi]=Samba quản lý cấu hình của bạn
Comment[uk]=Управління вашої конфігурації Samba
Comment[tl]=Pamahalaan ang iyong Samba pagsasaayos
Comment[sv]=Hantera Samba konfigurationer
Comment[sl]=Upravljanje konfiguracije Samba
Comment[sk]=Správa vášho konfigurácie Samba
Comment[ru]=Управление вашей конфигурации Samba
Comment[ro]=Configuraţiile Administraţi-vă Samba
Comment[pt]=Gerencie suas configurações de Samba
Comment[pl]=Zarządzanie konfiguracji Samby
Comment[no]=Manage your Samba konfigurasjoner
Comment[nl]=Beheer uw Samba configuraties
Comment[lv]=Pārvaldiet savu Samba konfigurācijas
Comment[lt]=Tvarkyk savo Samba konfigūracijos
Comment[ja]=を管理してSambaの設定
Comment[iw]=ניהול תצורות סמבה שלך
Comment[it]=Gestisci le tue configurazioni di Samba
Comment[id]=Mengelola konfigurasi Samba
Comment[hr]=Upravljajte svojim Samba konfiguracija
Comment[hi]=प्रबंधित अपने सांबा विन्यास
Comment[fr]=Gérez vos configurations de Samba
Comment[fi]=Hallitse Samba kokoonpanot
Comment[es]=Administrar las configuraciones de Samba
Comment[en]=Manage your Samba configurations
Comment[el]=Διαχειριστείτε διαμορφώσεις σας Samba
Comment[de]=Verwalten Sie Ihre Samba-Konfigurationen
Comment[da]=Administrer din Samba-konfigurationer
Comment[cs]=Správa vašeho konfigurace Samba
Comment[ca]=Administrar la configuració de Samba
Comment[bg]=Управление на вашата Самба конфигурации
Comment[ar]=إدارة حسابك سامبا تكوينات
Exec=gksu smb-admin
Icon=emblem-people
Terminal=false
MultipleArgs=false
Type=Application
Categories=Settings;Network
