[Desktop Entry]
Version=1.02
Encoding=UTF-8
Name=Smb-Admin
GenericName=Samba Admin
GenericName[vi]=Samba Admin
GenericName[uk]=Samba Admin
GenericName[tl]=Samba Admin
GenericName[sv]=Samba Admin
GenericName[sl]=Samba Admin
GenericName[sk]=Samba Admin
GenericName[ru]=Samba Admin
GenericName[ro]=Samba Admin
GenericName[pt]=Samba Admin
GenericName[pl]=Samba Admin
GenericName[no]=Samba Admin
GenericName[nl]=Samba Admin
GenericName[lv]=Samba Admin
GenericName[lt]=Samba Administratorius
GenericName[ja]=Sambaの管理
GenericName[iw]=סמבה מנהלה
GenericName[it]=Samba Admin
GenericName[id]=Samba Admin
GenericName[hr]=Samba Admin
GenericName[hi]=सांबा व्यवस्थापक
GenericName[fr]=Samba Admin
GenericName[fi]=Samba Admin
GenericName[es]=Samba Admin
GenericName[en]=Samba Admin
GenericName[el]=Samba Admin
GenericName[de]=Samba-Admin
GenericName[da]=Samba Admin
GenericName[cs]=Samba Admin
GenericName[ca]=Samba Admin
GenericName[bg]=Самба Админ
GenericName[ar]=السامبا الادارية
Comment=Manage your Samba configurations
Comment[vi]=Samba quản lý cấu hình của bạn
Comment[uk]=Управління вашої конфігурації Samba
Comment[tl]=Pamahalaan ang iyong Samba pagsasaayos
Comment[sv]=Hantera Samba konfigurationer
Comment[sl]=Upravljanje konfiguracije Samba
Comment[sk]=Správa vášho konfigurácie Samba
Comment[ru]=Управление вашей конфигурации Samba
Comment[ro]=Configuraţiile Administraţi-vă Samba
Comment[pt]=Gerencie suas configurações de Samba
Comment[pl]=Zarządzanie konfiguracji Samby
Comment[no]=Manage your Samba konfigurasjoner
Comment[nl]=Beheer uw Samba configuraties
Comment[lv]=Pārvaldiet savu Samba konfigurācijas
Comment[lt]=Tvarkyk savo Samba konfigūracijos
Comment[ja]=を管理してSambaの設定
Comment[iw]=ניהול תצורות סמבה שלך
Comment[it]=Gestisci le tue configurazioni di Samba
Comment[id]=Mengelola konfigurasi Samba
Comment[hr]=Upravljajte svojim Samba konfiguracija
Comment[hi]=प्रबंधित अपने सांबा विन्यास
Comment[fr]=Gérez vos configurations de Samba
Comment[fi]=Hallitse Samba kokoonpanot
Comment[es]=Administrar las configuraciones de Samba
Comment[en]=Manage your Samba configurations
Comment[el]=Διαχειριστείτε διαμορφώσεις σας Samba
Comment[de]=Verwalten Sie Ihre Samba-Konfigurationen
Comment[da]=Administrer din Samba-konfigurationer
Comment[cs]=Správa vašeho konfigurace Samba
Comment[ca]=Administrar la configuració de Samba
Comment[bg]=Управление на вашата Самба конфигурации
Comment[ar]=إدارة حسابك سامبا تكوينات
Exec=esu smb-admin
Icon=smb-admin
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;Application;Network
